p, h1, h2, h3, h4, h5{
    font-family: Montserrat, sans-serif;
}

.btn:active{
    outline: none !important;
    box-shadow: none !important 
}

.ck-file-dialog-button{
    display: none
}

button.ck.ck-button.ck-off.ck-dropdown__button,
button.ck.ck-button.ck-on.ck-dropdown__button{
    display: none !important;
}
.SocialMediaShareButton{
    margin-right: 5px
}


section{
    padding: 70px 0 100px 0;
}

input:focus, select:focus, input:active, select:active{
    /*border: 1.4px solid rgb(180, 175, 255) !important;*/
    box-shadow: 0px 1px 4px 0px rgb(180, 175, 255) !important;
}


.lazy-load-image-background img{
    border-radius: 5px
}

h4 a{
    color: rgb(108, 99, 255);
    font-size: 1rem;
}
.time-sm,{
    display: none;
}

.job-listing{
    transition: 0.4s all;
}
.job-listing:hover{
    /*border: none !important;*/
    transition: 0.4s all;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px 0px;
    border-top: none
}

.tag{
    padding: 0px 4px;
    border: 1px solid rgba(108, 99, 255, 0.4);
    margin: 2px;
    border-radius: 4px;
    font-size: 0.8em;
    color: rgba(108, 99, 255, 0.9);
    cursor: pointer;
    display: inline-block
}

.tag:hover{
    background: rgba(108, 99, 255, 0.9);
    color: white;
}

.apply-btn:hover, .apply-btn:active, .cta-btn:hover, .cta-btn:active{
    background: #6d66d6 !important;
    outline: none !important;
    box-shadow: none !important
}

.stripe-input-label{
    color: rgba(108, 99, 255, 0.9) ;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: lowercase;
}

.stripe-input{
    border-bottom: 1px solid rgba(108, 99, 255, 0.9);
    border-radius: 0px;
    padding: 17px 9px;
    transition: box-shadow 0.4s;
    background: rgba(219, 218, 233, 0.1);
}

.stripe-input-focus{
    box-shadow: rgba(108, 99, 255, 0.9) 1px 1px 6px !important;
}

.form-submit-error{
    color: #F44336;
    font-size: 0.92em;
    margin-top: 5px
}


@media screen and (max-width: 767px){
		.apply-btn{
		display: none;
	}
}

@media screen and (max-width: 425px){
    section{
        padding: 50px 0
    }
    h2{
        font-size: 1.2rem
    }
    p, p.lead{
        font-size: 1rem
    }
    h4 a{
        font-size: 0.9rem;
        line-height: 0rem
    }
    .company{
        font-size: 0.75rem;
    }
    .time-sm, .time-md{
        font-size: 0.65rem
    }
    .time-md{
        display: none
    }
    .time-sm{
        display: inline-block
    }
    .job-listing{
        padding: 10px 0px !important
    }
}

@media screen and (max-width: 280px){
    .lazy-load-image-background img{
        width: 50px
}
}
